<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d-[%t]-[%level] | %C{0}.%method\(%line\) | %msg%n</pattern>
        </encoder>
    </appender>
    <root>
        <level value="INFO" />
        <appender-ref ref="STOUT" />
    </root>
</configuration>
